@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family:'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

p{
  font-size: 1.2rem;
  line-height: 1.4;
}

h1{
  font-size: 3.5rem;
}

h2{
  font-size: 3rem;
}

.container{
  max-width: 1240px;
  margin: auto;
}

@media screen and (max-width:940px){
  h1{
    font-size: 3rem;
  }

  h2{
    font-size: 2.5rem;
  }
}
